@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
}
/* Custom classes */
.link-border {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}
.link-border::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.link-border:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
